body {
  margin: 0;
  font-family: sans-serif;
}

.tabs {
  width: 100%;
}

.tab-nav {
  display: flex;
  background: #f0f0f0;
}

.nav-item {
  display: block;
  padding: 16px;
  cursor: pointer;
  
  &.selected {
    font-weight: bold;
    background: #fff;
  }
}

.tab {
  display: none;
  padding: 16px;
  
  &.selected {
    display: block;
  }
}

.tab-pag {
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
}

.pag-item {
  display: block;
  padding: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  
  &:last-child {
    margin-right: 0;
  }
  
  &.hidden {
    display: none;
  }
}

.pag-item-submit {
  flex: 0 1 180px;
  font-size: 1rem;
  color: #fff;
  border-color: #696969;
  background: #696969;
}
