

<div style="width: 100%; height: 100%; background-color: rgba(255, 0, 0, 0.3); position: absolute; top: 0; left: 0;" id="recommendations_div" onclick="this.parentElement.removeChild(this);">
    <!-- how many recom. sets? -->
    <div class="tabs" id="tabbedForm" style="background: white; position: absolute; left:10%; width: 80%; height: 100%; overflow-y:auto;">

            <nav class="tab-nav">
                    <div style="overflow: auto; display: flex; width: 100%; height: 100%;">
                            <a class="nav-item selected">Схема {{recommendations[0]["id"]}}</a>
                            {% for rec_set in recommendations[1:] %}
                            <a class="nav-item">Схема {{rec_set["id"]}}</a>
                            {% endfor %}
                    </div>
            </nav>

            {% for k in range(recommendations|length) %}
            <div class="{{'tab selected' if k == 0 else 'tab'}}" data-name="Схема {{recommendations[k]['id']}}">
                <h1>Производные параметры</h1>
                <div class="recommendation_block">
                        <table>
                                <tbody>
                                {% for param in recommendations[k]["derived_params"] %}
                                <tr>
                                    <td>{{param}}</td>
                                    <td>{{recommendations[k]["derived_params"][param]}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                        </table>
                </div>

                <h1>Требования</h1>
                <div class="recommendation_block">
                        <table>
                        <tbody>
                        {% for param in recommendations[k]["demands"] %}
                        <tr>
                            <td>{{param}}</td>
                            <td>{{recommendations[k]["demands"][param]}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                </div>

                {% for nutr_kind in ["ПЭП", "ЭП"] %}
                <h1>{{nutr_kind}}</h1>
                <div class="recommendation_block">
                    <table><tbody>
                        {% for nutrition in recommendations[k]["nutritions"][nutr_kind] %}
                        <tr>
                           <td>{{nutrition['name']}}</td>
                            <td>
                                <table><tbody>
                                {% for feature in nutrition["features"] %}
                                <tr>
                                        <td>{{feature["name"]}}:</td>
                                        <td>{{feature["value"]}}</td>
                                        <td>{{feature["units"] if feature["units"] is not none else ''}}</td>
                                </tr>
                                {% endfor %}
                                </tbody></table>
                           </td>
                      </tr>
                        {% endfor %}
                    </tbody></table>
                </div>

                {% endfor %}
            </div>
            {% endfor %}

    </div>

</div>