<html>
<head>
	<!--<link rel="stylesheet" href="{{url_for('static', filename='ui_elements.css')}}">
	<link rel="stylesheet/less" type="text/css" href="{{url_for('static', filename='tabs.css')}}" />-->

	<link rel="stylesheet" href="{{url_for('static', filename='ui_elements.css')}}">
        <link rel="stylesheet/less" type="text/css" href="{{url_for('static', filename='tabs.css')}}" />
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>

</head>

<body>

<div style="width: 100%; height: 100%; background-color: rgba(255, 0, 0, 0.3); position: absolute; top: 0; left: 0;" id="recommendations_div">
    <!-- how many recom. sets? -->
    <div class="tabs" id="tabbedForm" style="background: white; position: absolute; left:10%; width: 80%; height: 100%; overflow-y:auto;">

	    <nav class="tab-nav">
                    <div style="overflow: auto; display: flex; wdth: 100%; height: 100%;">
			    <!--<a class="nav-item selected">Схема {{recommendations[0]["id"]}}</a>
			    {% for rec_set in recommendations[1:] %}
			    <a class="nav-item">Схема {{rec_set["id"]}}</a>
			    {% endfor %}-->
                    </div>
	    </nav>

	    {% for k in range(recommendations|length) %}
	    <div class="{{'tab selected' if k == 0 else 'tab'}}" data-name="Схема {{recommendations[k]['id']}}">
<h1>Производные параметры</h1>
   <div class="recommendation_block" id="derived_params_div">
        <table>
            <tbody>
            {% for param in recommendations[k]["Производные параметры"] %}
            <tr>
                <td>{{param}}</td>
                <td>{{recommendations[k]["Производные параметры"][param]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h1>Должные потребности</h1>
    <div class="recommendation_block" id="due_demand_div">
	    {% for nutr_type in recommendations[k]["due_demands"]  %}
	    <h4>{{ nutr_type }}</h4>
	    <table><tbody>
			    {% for param in recommendations[k]["due_demands"][nutr_type] %}
			    <tr><td>{{param}}</td>
				    <td>{{'%0.2f' % recommendations[k]["due_demands"][nutr_type][param]|float}}</td></tr>
			    {% endfor %}
		    </tbody></table>
	    {% endfor %}
    </div>


    <h1>Доли типов питания</h1>
    <div class="recommendation_block" id="nutrition_fraction_div">
        <table>
            <tbody>
            {% for _type in recommendations[k]["Доли"] %}
            <tr>
                <td>{{_type}}</td>
                <td>{{recommendations[k]["Доли"][_type]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% for nutr_kind in ["ПЭП", "сипинг", "зонд"] %}
    <h1>{{nutr_kind}}</h1>
    <div class="recommendation_block" id="nutrition-{{nutr_kind}}">
	<table><tbody>
	{% for key in recommendations[k]["nutrition"][nutr_kind] %} 
	<tr>
		<td>{{key}}</td>
		<td>
			<table><tbody>
					{% for in_key in recommendations[k]["nutrition"][nutr_kind][key] %}
					<tr>
					<td>{{in_key}}:</td>
					<td>{{recommendations[k]["nutrition"][nutr_kind][key][in_key]}}</td>
					</tr>
					{% endfor %}
			</tbody></table>
		</td>
	</tr>
	{% endfor %}
	</tbody></table>
    </div>
    {% endfor %}



		</div>
		{% endfor %}

    </div>

</div>

<script src="{{url_for('static', filename='tabs.js')}}"> </script>

</body>
</html>
